.container{
    height: 100%;
    width: 300px;
    background-color: #f4f4f4;
    position: fixed;
    border-radius: 18px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.divLista{
    display: flex;
    flex-direction: column;
    
}

.containerlogo{
    margin: 10%;
    font-size: 34px;
    text-align: center;
}

.divLista ul {
    list-style-type: none;
    width: 70%;
    padding: 0;
    margin-left: 10%;
}

.divLista ul li{
    transition: 0.9s;
}

.subMenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: -10%;
}

.subMenu li{
    margin-top: 10px;
}

.subMenu2 {
    display: flex;
    border-radius: 5px;
    min-width: 180px;
}


.divLista ul li:hover{
    background-color: #A7D5F2;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.separar{
    border-bottom: solid 2px #0367A6;
    width: 50%;
    margin:0 10%;
}


